<div id="dashboard">
  <div id="dashboard-wrapper">
    <div id="project-details-section">
      <div id="project-title-flex">
        <h2 id="project-title">{{activeProject.title}}</h2>
        <p id="project-status-tag">{{activeProject.status}}</p>
      </div>
      <p>{{activeProject.description}}</p>
      <p id="project-owner">
        Led by {{activeProject.owner.name}} | Created at
        {{activeProject.createdAt | date:'dd-MM-yyyy h:mm a'}}
      </p>
    </div>

    <div id="stats-container">
      <div id="tasks-stats-section">
        <div class="task-stat">
          <p>Total tasks</p>
          <h4>{{totalTasks}}</h4>
        </div>

        <div class="task-stat">
          <p>Tasks to be done</p>
          <h4>{{inProgressTasks}}</h4>
        </div>

        <div class="task-stat">
          <p>Tasks completed</p>
          <h4>{{completedTasks}}</h4>
        </div>

        <div class="task-stat">
          <p>Unassigned tasks</p>
          <h4>{{unassignedTasks}}</h4>
        </div>
      </div>

      <!-- Loader -->
      <div class="loader-div" ng-show="statsLoading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>

      <div id="stats-first-row">
        <div id="weekly-task-stats-graph-div">
          <h4 ng-hide="statsLoading">Weekly task digest</h4>
          <canvas id="weekly-task-stats-graph"></canvas>
        </div>
        <div id="overall-task-graph-div">
          <h4 ng-hide="statsLoading" id="overall-completion-title">
            Overall project completion
          </h4>
          <canvas id="overall-task-graph"></canvas>
        </div>
      </div>

      <div id="stats-second-row">
        <div id="task-percent-stats-div">
          <h4 ng-hide="statsLoading" id="task-status-percent-title">
            Backlog - Item Status
          </h4>
          <canvas id="task-status-percent-graph"></canvas>
        </div>
        <div id="most-active-users-div">
          <h4 ng-hide="statsLoading" id="most-active-users-title">
            5 Most active users by activity
          </h4>
          <canvas id="most-active-users-graph"></canvas>
        </div>
      </div>

      <div id="sprints-stats-section">
        <div class="sprint-stat">
          <p>Active sprints</p>
          <h4>{{activeSprints}}</h4>
        </div>

        <div class="sprint-stat">
          <p>Upcoming sprints</p>
          <h4>{{upcomingSprints}}</h4>
        </div>

        <div class="sprint-stat">
          <p>Completed sprints</p>
          <h4>{{completedSprints}}</h4>
        </div>

        <div class="sprint-stat">
          <p>Completed on time</p>
          <h4>{{onTimeCompleted}}</h4>
        </div>

        <div class="sprint-stat">
          <p>Overdue sprints</p>
          <h4 style="color: var(--primary-red)">{{activeOverdueSprints}}</h4>
        </div>
      </div>

      <div id="stats-third-row">
        <div id="sprint-analysis-div">
          <h4 id="sprint-prediction-title">Sprint prediction</h4>
          <h1 ng-hide="statsLoading" id="sprint-analysis-text">
            Based on previous data, it is
            <span class="sprint-likely-percent">
              {{sprintCompletionLikely}} likely</span
            >
            that your upcoming sprints will
            <span class="sprint-green-text"> complete on time</span>.
          </h1>
        </div>
        <div id="sprint-percent-div">
          <h4 ng-hide="statsLoading" id="sprint-percent-title">
            Overdue VS on-time-completed sprints
          </h4>
          <canvas id="sprint-percent-graph"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
