#backlog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#backlog-title {
  margin-bottom: 16px;
}

#create-task-title {
  margin-top: 12px;
  margin-bottom: 8px;
}

#create-task-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#create-task-form input,
select {
  margin-right: 8px;
  padding: 8px 12px;
  font-size: 14px;
}

#create-task-form select {
  width: 200px;
}

#create-task-title-input {
  width: 100%;
}

#create-task-btn {
  background-color: var(--primary-blue);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
}

#task-list-section {
  margin-top: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#filter-tasks-input {
  padding: 8px 12px;
  font-size: 14px;
  width: 320px;
  margin-right: 8px;
}

#filter-tasks-sprint-select {
  border: 2px solid var(--primary-violet);
  background-color: var(--primary-violet-alpha);
  color: var(--primary-violet);
}

#search-icon {
  color: var(--black-100);
  margin-right: 10px;
}

#task-filters-div {
  display: flex;
  align-items: center;
}

#task-filters-div select {
  width: 100px;
}

#reset-filter-btn {
  background-color: white;
  color: var(--primary-blue);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
}

#apply-filter-btn {
  background-color: var(--primary-blue-alpha);
  color: var(--primary-blue);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
}

#tasks-list {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.task-list-item {
  width: 100%;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  border-radius: 4px;
  /* border: 1px solid #eeeeee; */
  background-color: var(--gray-50);
  margin-bottom: 6px;
}

.task-list-item:hover {
  background-color: var(--gray-100);
  cursor: pointer;
}

.task-item-left,
.task-item-right {
  display: flex;
  align-items: center;
}

.task-list-item p {
  margin: 0 4px;
}

.task-id {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-blue);
}

.task-assigned {
  color: var(--black-100);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.task-checkbox-input {
  width: fit-content;
  z-index: 99;
  margin-right: 4px;
}

#add-to-sprint-section {
  display: flex;
  margin-top: 24px;
}

#move-to-sprint-input {
  width: 200px;
  font-size: 14px;
  padding: 8px 12px;
}

#move-to-sprint-btn {
  background-color: var(--primary-violet);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
}

#remove-from-sprint-btn {
  background-color: white;
  color: var(--primary-violet);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
  margin-left: 8px;
}

#pagination-container {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  margin: auto;
  border-radius: 4px;
  /* padding: 8px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 16px;
  background-color: var(--primary-blue);
  padding: 2px 16px;
}

.page-item {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  /* background-color: var(--primary-blue-alpha); */
  color: var(--primary-blue);
  margin: 4px;
  border-radius: 4px;
  color: white;
}

.page-item-bg-white {
  background-color: white;
  color: var(--primary-blue);
}
