#dashboard {
  width: 100%;
}

#dashboard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#project-details-section {
  width: 100%;
}

#project-title-flex {
  display: flex;
  align-items: center;
}

#project-status-tag {
  margin-left: 8px;
  margin-top: 8px;
  text-transform: uppercase;
  padding: 4px;
  background-color: var(--primary-blue);
  color: white;
  font-weight: bold;
  border-radius: 2px;
  width: fit-content;
  font-size: 12px;
  margin-bottom: 12px;
}

#project-owner {
  margin-top: 16px;
  color: var(--black-100);
}

#stats-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

#tasks-stats-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.task-stat {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 16px;
  width: 25%;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s;
}

.task-stat h4 {
  color: var(--primary-blue);
}

#stats-first-row {
  display: flex;
  width: 100%;
  margin-top: 32px;
}

#weekly-task-stats-graph-div {
  width: 70%;
}

#overall-task-graph-div {
  /* margin-top: 60px; */
  width: 50%;
}

#stats-first-row h4 {
  margin-bottom: 32px;
}

#overall-completion-title {
  padding-bottom: 32px;
}

#stats-second-row {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

#task-percent-stats-div {
  width: 50%;
}

#task-status-percent-title {
  margin-bottom: 32px;
  padding-bottom: 32px;
}

#most-active-users-div {
  width: 70%;
}

#most-active-users-title {
  margin-bottom: 32px;
}

#sprints-stats-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.sprint-stat {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 16px;
  width: 25%;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s;
}

.sprint-stat:hover,
.task-stat:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sprint-stat h4 {
  color: var(--primary-violet);
}

#stats-third-row {
  display: flex;
  width: 100%;
  margin-top: 32px;
}

#sprint-percent-div {
  width: 50%;
}

#sprint-percent-title {
  margin-bottom: 32px;
}

#sprint-analysis-div {
  width: 50%;
  border: 2px solid #eeeeee;
  margin-right: 16px;
  padding: 24px;
  border-radius: 8px;
}

#sprint-analysis-text {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 36px;
  color: var(--black-400);
  line-height: 1.4;
  /* width: 90%; */
}

.sprint-green-text {
  color: var(--primary-violet);
}

.sprint-likely-percent {
  color: var(--primary-green);
}
