#sprints-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#create-sprint-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#create-sprint-title {
  margin-top: 28px;
  margin-bottom: 8px;
}

#create-sprint-form {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

#create-sprint-form input {
  margin-right: 8px;
  font-size: 14px;
  padding: 8px 12px;
}

#create-sprint-btn {
  background-color: var(--primary-violet-alpha);
  color: var(--primary-violet);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
}

#create-sprint-description-input {
  width: 640px;
}

#create-sprint-name-input {
  width: 200px;
}
#create-sprint-duration-input {
  width: 200px;
}

#active-sprints-section {
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
}

#active-sprints-list {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.active-sprint-item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 16px;
  border: 1px solid #eeeeee;
  transition: all 0.2s;
}

.active-sprint-item:hover {
  box-shadow: var(--primary-blue) 0px 0px 0px 2px inset,
    rgb(255, 255, 255) 10px -10px 0px -3px, var(--primary-green) 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px;

  /* cursor: pointer; */
}
.sprint-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sprint-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.sprint-description {
  margin-bottom: 24px;
}

.sprint-created-by {
  color: var(--black-200);
}

.view-sprint-tasks-btn {
  background-color: white;
  color: var(--primary-violet);
  margin-right: 8px;
  border: 2px solid var(--primary-violet);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 24px;
}

.start-sprint-btn {
  background-color: var(--primary-violet);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
}

.complete-sprint-btn {
  background-color: var(--primary-violet-alpha);
  color: var(--primary-violet);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
}

.sprint-left {
}

.sprint-right {
  display: flex;
  align-items: center;
}
.sprint-status {
  margin-top: 4px;
  color: var(--black-200);
  font-size: 12px;
}

.sprint-duration {
  color: var(--primary-violet);
}

.sprint-status-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sprint-status-section label {
  margin-bottom: 4px;
  color: var(--primary-violet);
}

#completed-sprints-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

#completed-sprints-table-div {
  width: 100%;
  margin-top: 16px;
}

#completed-sprints-table {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 16px;
}

#completed-sprints-table td {
  width: 100px;
}

#completed-sprints-table th {
  padding-bottom: 8px;
}
