<div id="reset-pwd-container">
  <div id="reset-pwd-card">
    <img ng-src="../assets/logo.png" />
    <h4>Reset password to continue</h4>
    <form
      id="reset-pwd-form"
      novalidate
      name="resetPwdForm"
      ng-submit="handleResetPassword()"
    >
      <input
        type="password"
        name="currentPwd"
        placeholder="Current password"
        ng-required="true"
        ng-model="password.current"
      />
      <p
        ng-show="resetPwdForm.currentPwd.$touched && resetPwdForm.currentPwd.$invalid"
        class="error-field"
      >
        Enter current password
      </p>
      <input
        type="password"
        placeholder="New password"
        name="newPwd"
        ng-required="true"
        ng-model="password.new"
      />
      <p
        ng-show="resetPwdForm.newPwd.$touched && resetPwdForm.newPwd.$invalid"
        class="error-field"
      >
        Enter new password
      </p>
      <button
        type="submit"
        id="reset-pwd-btn"
        ng-disabled="resetPwdForm.$invalid"
      >
        Reset password and continue
      </button>

      <p ng-show="password.error" class="error-field">{{password.error}}</p>
    </form>
  </div>

  <!-- <img id="login-bg-img-one" ng-src="../assets/login-img-one.jpg" />
  <img id="login-bg-img-two" ng-src="../assets/login-img-two.jpg" /> -->
</div>
